/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 50px 0;
}

header .intro img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

header .intro h1 {
    margin: 10px 0;
}

main {
    padding: 20px;
}

section {
    margin: 40px 0;
}

section h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

#skills ul {
    list-style-type: none;
    padding: 0;
}

#skills ul li {
    background: #f4f4f4;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

.project {
    background: #f4f4f4;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    text-align: center;
}

.project img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.project h3 {
    margin: 10px 0 10px 0;
}

.project a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

#contact p a {
    color: #333;
    text-decoration: none;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
}
